@import "tailwindcss";

.background-accent {
  background-image: url(/images/accent.svg);
  background-repeat: no-repeat;
  background-position-x: 300%;
}

:root {
  --base-unit: 0.25rem;
}

@layer utilities {
  .flex-col-stack-3 {
    @apply flex flex-col space-y-3;
    margin-top: calc(3 * var(--base-unit));
    margin-bottom: calc(3 * var(--base-unit))
  }

  .flex-row-gutter-3 {
    @apply flex flex-row space-x-3;
    /* margin-left: calc(3 * var(--base-unit));
    margin-right: calc(3 * var(--base-unit)) */
  }
}

.flex-row-gutter-3>* {
  margin-left: calc(3 * var(--base-unit));
  margin-right: calc(3 * var(--base-unit))
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */